export DB_HOST=localhost
export DB_PORT=5432
export DB_NAME=postgres
export DB_USER=postgres
export DB_PASSWORD=localpass

export HTTP_PORT=8838

export INVITE=foo

export S3_API_HOST=localhost
export S3_API_PORT=9000
export MINIO_WEB_PORT=9001 
export MINIO_USER=user
export MINIO_PASSWORD=localpass
export MINIO_BUCKET=cljot-db-bucket

source_env_if_exists local/.envrc
