#merge [{:telegram-bot/client
         {:token #env "CLIENT_BOT_TELEGRAM_TOKEN"}

         :telegram-bot/msg-handler
         {:process-msg #ig/ref :dialogue/process-msg}

         :telegram-bot/run-client
         {:bot #ig/ref :telegram-bot/client
          :url #env "SELF_URL"
          :msg-handler #ig/ref :telegram-bot/msg-handler
          :long-polling-config {:timeout #or [#env "CLIENT_BOT_LONG_POLLING_TIMEOUT" 10]
                                :sleep #or [#env "CLIENT_BOT_LONG_POLLING_SLEEP" 1000]}}

         :dialogue/user-answer {}

         :dialogue/admin-answer {}

         :dialogue/admin? {:admin-chat-ids #custom/env-to-set "ADMIN_CHAT_IDS"}

         :dialogue/check-invite {:invite #env "INVITE"}

         :dialogue/user {:check-invite #ig/ref :dialogue/check-invite
                         :db-execute! #ig/ref :db/execute!
                         :admin? #ig/ref :dialogue/admin?}

         :dialogue/process-msg {:user-answer #ig/ref :dialogue/user-answer
                                :admin-answer #ig/ref :dialogue/admin-answer
                                :telegram-send #ig/ref :dialogue/telegram-send
                                :user #ig/ref :dialogue/user
                                :admin? #ig/ref :dialogue/admin?}

         :dialogue/telegram-send {:bot #ig/ref :telegram-bot/client}

         :minio/client
         {:host        #env "S3_API_HOST"
          :port        #env "S3_API_PORT"
          :access-key  #env "MINIO_USER"
          :secret-key  #env "MINIO_PASSWORD"
          :bucket-name #env "MINIO_BUCKET"}

         :minio/upload-file!  {:client #ig/ref :minio/client}
         :minio/download-file {:client #ig/ref :minio/client}
         :minio/delete-file!  {:client #ig/ref :minio/client}
         :minio/file-exists?  {:client #ig/ref :minio/client}

         :db/execute!
         {:ds #ig/ref #profile {:default :db/ds
                                :test :test-utils/db-ds}}

         :http/handler #ig/ref :telegram-bot/msg-handler

         :http/server {:port #or [#env "HTTP_PORT" 8080]
                       :handler #ig/ref :http/handler}}

        #include #profile {:test "test_config.edn"
                           :default "default_config.edn"}]
